<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page - Nirmaan Netra</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/newcss/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="left-section">
          
      </div>
      <div class="right-section">
        <img src="static/logo/nagaram_startup.png" height="96px">
        <h2>Register</h2>
        <div class="register box">
            <form action="{{ url_for('register') }}" method="POST">
              <div class="input-container">
                <input
                  type="text"
                  name="fullname"
                  placeholder="Fullname"
                  required
                />

              </div>
            
            <div class="input-container">
              <input
                type="text"
                name="username"
                placeholder="Username"
                required
              />

            </div>

            <div class="input-container">
              <input
                type="email"
                name="email"
                placeholder="Email"
                required
              />

            </div>

            <div class="input-container">
              <input
                type="password"
                name="password"
                placeholder="Password"
                required
              />

            </div>

            <div class="input-container">
              <input
                type="password"
                name="confirm_password"
                placeholder="Confirm Password"
                required
              />

            </div>

            <button type="submit" class="register-btn">Register</button>
          </form>
        </div>
        <p>
          Already have an account? <a href="{{ url_for('login') }}">Login here</a>
        </p>
      </div>
    </div>
  </body>
</html>
